body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.board {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	margin: 0 auto;
	width: 250px;
	height: 250px;
	border-radius: 10px;
}

.square {
	background: #b4d455;
	border: 1px solid black;
	font-size: 40px;
	font-weight: 200;
	cursor: pointer;
	outline: none;
}

.info-panel {
	width: 200px;
	margin: 20px auto;
	text-align: center;
}


